[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
configparser = "*"
py-cord = "==2.0.0b5"
bs4 = "*"
requests = "*"
urllib3 = "*"
pytz = "*"
aiohttp = "*"
asyncio = "*"
schedule = "*"
redis = "*"
APScheduler = "*"
requests-html = "*"
selenium = "*"
aioredis = "*"
asyncpg = "*"
pyppeteer = "*"
"backports.zoneinfo" = "*"
gunicorn = "*"

[dev-packages]

[packages.Flask]
extras = [ "async",]
version = "*"

[packages.rankcard]
git = "https://github.com/akoses/Python-discord-rankcard.git"
editable = true
